:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-color: #333333;
  --background-color: #f5f5f5;
  --border-radius: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

nav.navbar {
  background-color: navy;
  padding: 1rem;
}
nav.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
