{% load static %} {% comment %}
<nav class="navbar">
  <div>
    <img class="logo" alt="logo" src="{% static 'images/icon.png' %}" />
  </div>
  <ul class="nav-links">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
  </ul>
  <ul class="auth-links">
    <li><a href="{% url 'accounts:login' %}">Login</a></li>
    <li><a href="{% url 'accounts:register' %}">Join Now</a></li>
  </ul>
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
{% endcomment %}

<nav class="navbar navbar-expand-lg bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img class="logo" alt="logo" src="{% static 'images/icon.png' %}"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
          >Home</a
        >
        <a class="nav-link" href="{% url 'about' %}">About</a>
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        <a class="nav-link" href="{% url 'accounts:register' %}">Join Now</a>
      </div>
    </div>
  </div>
</nav>
